@model IEnumerable<JobSystem.Admin.Mvc.Models.TenantIndexModel>
@{
	ViewBag.Title = "Current Tenant List";
}
<h2>Current Tenant List</h2>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.Name)</td>
			<td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
		</tr>
	}
</table>