<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="JobSystem" connectionString="Data Source=(local);Initial Catalog=master;User ID=sa;Password=p'ssw0rd"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<add key="TenantName" value="development" />
	</appSettings>
</configuration>