<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="JobSystem" connectionString="Data Source=jobsys.ca0li8yz4xun.eu-west-1.rds.amazonaws.com;Initial Catalog=master;User ID=jobsysmaster;Password=jobsystem"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>