@model JobSystem.Mvc.ViewModels.Reports.JobItemReportViewModel
@{
    ViewBag.Title = "Reports";
}


@using (Html.BeginForm("GenerateJobItemReport", "Report", FormMethod.Post))
{
	@Html.DropDownListFor(model => model.StatusId, Model.Status, new { @class = "long-dropdown" })
	@Html.ValidationMessageFor(model => model.Status)

	<input type="submit" class="primary-action" value="Job Items" />
}
<h2></h2>
@Html.ActionLink("Equipment Progress", "GenerateEquipmentProgressReport", "Report", new { }, new { @class="primary-action", target="_blank" })