@model JobSystem.Mvc.ViewModels.Users.UserAccountIndexViewModel
@{
	ViewBag.Title = "User Management";
}
<h2>Users</h2>

<a href="#" id="createUserButton" class="primary-action">Create User</a>

@Html.Partial("_UserList", Model.Users)

@Html.Partial("_Create", Model.CreateEditModel)

<div id="edit-user-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "UserManagement")"/>

