@model JobSystem.Mvc.ViewModels.JobItems.JobItemDetailsViewModel

<a href="#" class="primary-action createCertificateButton" id="@Model.Id">Create Certificate</a>

<div class="text">
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoCertificates</div>
</div>