@{
    ViewBag.Title = "Job Details";
}
<h2>Job 306585</h2>
<p>Created 22/11/2011</p>
<p>Order No. - 12392</p>
<p>Advice No. - 1322802 / Cons Note: 11211</p>
<p>Contact - James Masters</p>
<div id="job-details-customer-info">
	<span id="custname">Customer</span>
	<ul>
		<li>ID - 282</li>
		<li>Wood Group Engineering (NS) Ltd</li>
		<li>Operations</li>
		<li>Comorant Alpha</li>
		<li>Aberdeen</li>
		<li>AB12 5LQ</li>
		<li>01224 275200</li>
		<li><a href="mailto:contact@woodgroup.com">contact@woodgroup.com</a></li>
	</ul>
</div>
<div id="job-nav-container">
	<ul>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
		<li>Item 4</li>
	</ul>
</div>
<div id="job-details-container">
	<div id="job-details-top">
		<div id="job-details-fields">
			
		</div>
	</div>
</div>
<div class="clear"></div>
