@{
    ViewBag.Title = "Job List";
}

<h2>Jobs</h2>

<a href="#" id="createJobButton" class="primary-action">Create Job</a>
<table>
	<tr>
		<th>Job Number</th>
		<th>Order Number</th>
		<th>Created</th>
		<th>Booked By</th>
	</tr>
@*	@foreach (var item in Model)
 {*@
		<tr>
			<td>
				<a href="@Url.Action("Details")">102</a>
				@*@Html.ActionLink(item.Name, "Details", new { id = item.Id })*@
			</td>
			<td>
				10234
				@*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
			</td>
			<td>
				25/11/2011
			</td>
			<td>
				Chris O'Neil
			</td>
		</tr>
 @*}*@
</table>

@Html.Partial("_Create")
